* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4E5052;
}
body {
  margin: 0;
}
.landingimg {
  max-width: 100%;
  height: 10em;
  border-radius: 0.3em;
}
.headerimg{
  max-width: 100%;
  height: 5em;
}
.header {
  background-color: white;
}
.headerBar {
  box-shadow: 0px 3px 5px 1px #E6E8EB;
  border: 1px;
  background-color: white;
}
.header_flex {
  display: flex;
  margin-left: 100px;
  align-items: center;
}
.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.landing_bar {
  display: flex;
  margin-top: 1px;
  height: 500px;
  align-items: center;
  align-self: stretch;
}
.landing_left{
  padding-left: 100px;
  flex: 3;
  flex-direction: column;
}
.landing_right{
  padding-right: 200px;
  flex: 1;
  flex-direction: column;
}
.register-button {
  flex: 1;
  margin-top: 100px;
}
label {
  display: block;
}
/* .sectionrow {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-top: 1px;
  height: 500px;
  align-items: center;
} */
.video {
  display: flex;
  border: 1px solid black;
  max-width: 800px;
  height: 200px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}
.register-form {
  margin: 200px auto;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  width: 15em;
  align-items: center;
  padding: 5px 10px;
  background-color: #F8F9FA;
  border: 1px solid #E6E8EB;
  box-shadow: 0px 3px 5px 1px #595F62;
}
.form-button{
  border: 0.5px solid #E6E8EB;
  border-radius: 0.3em;
  box-shadow: 0px 3px 5px 1px #595F62;
  margin: 1em;
}
.form-button:hover{
  border: 1px solid black;
}
.start-button{
  background-color: #4281c8;
  color: white;
  padding: 5px;
  border: 0px solid #E6E8EB;
  border-radius: 0.3em;
  box-shadow: 0px 3px 5px 1px #595F62;
  margin: 1em 0;
}
.start-button:hover{
  box-shadow: 0px 3px 5px 3px #595F62;
}
.hidden {
  display: none;
}
.sidebar {
  flex: 1;
  margin: 50px;
}
.main {
  flex: 3;
}
.sectionrow {
  display: flex;
  flex-direction: row;
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
/* .grid-item {
  flex-grow: 1;
  border: 1px solid black;
} */
.grid-item {
  margin: 5px;
  border-radius: 0.3em;
  width: 10em;
  min-width: 14%;
  max-height: 13em;
  padding: 5px 10px;
  border: 1px;
  background-color: #F8F9FA;
  border: 1px solid #E6E8EB;
}
.gird-item-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.textOver{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  white-space: nowrap;
}
ul {
  list-style: none;
}
.li {
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
}
.symptom-button {
  border: 0;
  position: relative;
  background-color: #F8F9FA;
  margin: 2px;
  border-radius: 4px;

}
.log {
  margin: 50px;
  /*border: 1px solid black;*/
  max-width: auto;
  padding: 5px;
}
.expanded-item {
  margin: 100px auto;
  border-radius: 0.3em;
  width: 30em;
  min-width: 14%;
  max-height: auto;
  padding: 5px 10px;
  border: 1px;
  background-color: #F8F9FA;
  border: 1px solid #E6E8EB;
}